build -c dbg
build --copt -g --strip=never
build --copt -O3 --copt -DNDEBUG
build --copt -pthread --linkopt -pthread
build --incompatible_linkopts_to_linklibs
build --experimental_repo_remote_exec

build --copt=-march=native
